body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
  background-color: #b9f1b7; }
  body #myBooks .title {
    width: 100%;
    border: 1px gray solid;
    background-color: #cfd4d8;
    box-shadow: 6px 6px 10px gray;
    margin: auto;
    text-align: center; }
  body #myBooks .h2 {
    text-align: center; }
  body #myBooks #requette {
    display: none; }
    body #myBooks #requette #requette, body #myBooks #requette h2 {
      text-align: center; }
    body #myBooks #requette #carte {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      body #myBooks #requette #carte .livre {
        border: black 3px solid;
        margin: 7px;
        width: 45%;
        height: 300pt;
        text-align: justify;
        padding: 10px;
        overflow: auto;
        border-radius: 10%;
        background-color: #e5f397; }
        body #myBooks #requette #carte .livre .bookmark {
          background-color: transparent;
          border: none;
          position: relative;
          left: 90%;
          font-size: 25px; }
          body #myBooks #requette #carte .livre .bookmark i {
            height: 3px;
            color: #705db3; }
        body #myBooks #requette #carte .livre .bookmark:hover {
          color: blue; }
  body #myBooks hr {
    margin-top: 20px; }
  body #myBooks #content h2 {
    text-align: center; }
  body #myBooks #content #favBook {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    body #myBooks #content #favBook .livre {
      border: black 3px solid;
      border-radius: 10%;
      margin: 7px;
      width: 45%;
      height: 300pt;
      text-align: justify;
      padding: 10px;
      overflow: auto;
      background-color: #e5f397; }
      body #myBooks #content #favBook .livre .trash {
        background-color: transparent;
        border: none;
        color: red;
        padding: 10px 14px;
        font-size: 30px;
        text-shadow: 2px 2px 4px #00ffff;
        position: relative;
        left: 90%; }

* {
  box-sizing: border-box; }

#newBook {
  display: none; }
  #newBook label {
    margin-top: 20px;
    display: block; }
    #newBook label input {
      display: block;
      flex-direction: row;
      width: 100%; }
  #newBook #search {
    border: lime;
    margin-top: 20px;
    width: 150px;
    font-size: medium;
    height: 40px;
    background-color: #4ba1b1;
    color: aliceblue; }
  #newBook #cancel {
    border: lime;
    font-size: medium;
    margin-top: 10px;
    width: 150px;
    display: inline-block;
    background-color: #df4242;
    height: 40px;
    color: aliceblue; }

#addBook {
  background-color: #4ba1b1;
  color: #dbcfcf;
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  height: 40px;
  margin: 0 auto;
  display: block; }

@media screen and (max-width: 700px) {
  #favBook {
    display: flex;
    flex-direction: column;
    justify-content: center !important; }
    #favBook .livre {
      margin: auto;
      width: 90% !important;
      height: 100px; } }

/*# sourceMappingURL=style.css.map */
