$blue :  rgb(75, 161, 177) ;
$yellow: rgb(229, 243, 151);
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: rgb(185, 241, 183) ;
 #myBooks{
        .title{
           width: 100%;
           border : 1px gray solid;
           background-color: rgb(207, 212,216);
           box-shadow: 6px 6px 10px gray;
           margin: auto;
           text-align: center;
        }
      .h2 {
        text-align: center;
       }
       #requette{
          display: none;
          #requette , h2{
            text-align: center;
          }
        
         #carte {
             display: flex;
             flex-wrap:wrap;
             justify-content: space-around;
             .livre{
              border: black 3px solid;
              margin: 7px;
              width: 45%;
              height: 300pt;
              text-align: justify;
              padding: 10px;
              overflow: auto;
              border-radius: 10%;
              background-color: $yellow;
              .bookmark{
              background-color: transparent;
              border: none;
              position:  relative;
              left: 90%;
              font-size: 25px;
              i {
                height: 3px;
                color: rgb(112, 93, 179);
                }

                }
                .bookmark:hover{
                  color: blue;
                }
              }
               
            }
        }
       
        hr{
            margin-top: 20px;
        }
        #content{
         
             h2{
              text-align: center;
             }
             #favBook{
               display: flex;
               flex-wrap:wrap;
             justify-content: space-around;
             .livre{
               
              border: black 3px solid;
              border-radius: 10%;
              margin: 7px;
              width: 45%;
              height: 300pt;
              text-align: justify;
              padding: 10px;
              overflow: auto;
              background-color: $yellow;
              .trash{
                background-color: transparent;
                border: none;
                color:red;
                padding: 10px 14px;
               font-size: 30px;
               text-shadow: 2px 2px 4px #00ffff;
               position: relative;
               left: 90%;
               
               
              }
              
             }
            }
        }


    }
}
*{box-sizing: border-box;}

#newBook{
     display: none;
     label{
          margin-top: 20px;
          display: block;
          input{
            display:block;
            flex-direction: row;
            width: 100%;
            
          }
        }
      
 
   #search{
    border: lime;
    margin-top: 20px;
    width: 150px;
    font-size: medium;
    height: 40px;
    background-color: $blue;
    color: aliceblue;
   }   
    #cancel{
     border: lime;
     font-size: medium;
     margin-top: 10px;
     width: 150px;
     display: inline-block;
     background-color: rgb(223, 66, 66);
     height: 40px;
     color: aliceblue;
    }  
    
}

#addBook{
    background-color: $blue;
    color: rgb(219, 207, 207);
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    height: 40px;
    margin: 0 auto;
    display: block;
}
@media screen and (max-width : 700px){
#favBook {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
   .livre{
     margin: auto; 
    width: 90% !important;
    height: 100px;
    
  }
}

}



